- # User Banner Image
= render 'users/top_banner'

- # Middle User Info Section
= render 'users/middle_user_banner'

- # Dark Content Wrapper
.lower-wrapper
  = render 'users/featured_videos'
  
  - # Main (White) Content Wrapper
  .content-wrapper
    = render 'shared/content_titles'
    
    - if @featured_videos.blank?
      .info-message.mhl
        You have not added any videos to your Featured Videos channel.  Please add some and then come back to edit their order.
    - else    
      = render :partial => 'channels/featured_video', :collection => @featured_videos
    
      = will_paginate @featured_videos
    
      = render :partial => "shared/infinite_scrolling", :locals => { :item_selector => ".featured-video-post" }
    
    
- # Tell the page to scroll down to the content wrapper upon page load
= render 'shared/scroll_to_content_wrapper'