.middle-user-banner-container
  = link_to(user_path(@user)) do
    = image_tag("#{ @user.image.blank? ? 'default_user_150px.jpg' : @user.image_url(:large_profile) }", 
          :alt => "#{@user.name}",
          :class => "thumbnail",
          :size => "150x150")

  .user-info-section
    .user-name-and-location
      %span.user-name
        = @user.name
      %span.location
        = @user.location
    %p
      %i
        = @user.bio
    %p.website
      - unless @user.website.blank?
        = link_to(@user.website, "#{@user.website}", :target => "_blank")
    %p
      #{link_to("Videos (#{@user.videos_count})", user_path(@user))} 路 
      #{link_to("Channels (#{@user.channels_count})", user_channels_path(@user))} 路 
      #{link_to("Badges (#{@user.badges_count})", user_badges_path(@user))} 路 
      #{link_to("Subscribers (#{@user.subscribers_count})", user_subscribers_path(@user))} 路 
      #{link_to("Subscriptions (#{@user.subscriptions_count})", user_subscriptions_path(@user))}
      
    - if !current_user?(@user)
      %p
        = link_to(user_channels_path(@user), :class => "small subscribe-with-icon btn") do
          = image_tag("add_icon.png", :size => "16x16")
          %span Subscribe
      
.banner-corners
  = image_tag("banner_corners.png", :size => "875x15", :alt => "")