.forgotten_password
  = compact_flash_messages
  - unless flash.empty?
    %h3{ :class => "mbm flash_#{@flash_key}" }
      = @flash_msg
      
  %h2.mbm
    Forgotten Password: 
    - if @show_password_reset
      Please reset your password below
    - else
      Please enter your email address below
        
  - if @show_password_reset
    - # Show the reset password form
    %form.mtl{:action => user_reset_password_path, :method => "post", :id => "forgotten_password_form"}
      %input{:name => "#{request_forgery_protection_token}", :type => "hidden", :value => "#{form_authenticity_token}"}
      %input{:name => "token", :type => "hidden", :value => "#{@token}"}
      .forgotten_password_form
        = password_field_tag :password, nil, :placeholder => "password", :class => "ras"
        = password_field_tag :password_confirmation, nil, :placeholder => "confirm password", :class => "ras"
        %input.ram.medium.silver.button{:type => "submit", :name => "submit", :value => "Reset Password"}
        
    = render :partial => 'users/signup_box'
        
  - else 
    - # Show the forgotten password form
    %form.mtl{:action => validate_forgotten_password_path, :method => "post", :id => "forgotten_password_form"}
      %input{:name => "#{request_forgery_protection_token}", :type => "hidden", :value => "#{form_authenticity_token}"}
      .forgotten_password_form
        = text_field_tag :email, nil, :placeholder => "e-mail address", :class => "ras"
        %input.mls.mvm.ram.medium.silver.button{:type => "submit", :name => "submit", :value => "Submit"} 
        
    = render :partial => 'users/signup_box'