!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "en", "http-equiv" => "Content-Language"}
    %meta{:content => "noodp,noydir", :name => "robots"}/
    
    %meta{:property => "fb:page_id", :content => "247345075276137"}/
    %meta{:name => "description", :content => "Brevidy allows you to capture the fleeting moments of your life on video and share them with those around you."}/
    %meta{:name => "keywords", :content => "brevidy,brevity,video,social,social network,networking,life,capture,camera,video camera,mobile camera,mobile,videography,people,connect,relationships"}/
    %link{:rel => "image_src", :href => "#{image_path('meta_tag_logo.png')}"}/
        
    /
      \.b.
      \.b.                 .e.e.e.   .v       v.     .    .d.d.     .y.   .y.
      \.b.b.b.    .r.r.r.  .e         .v     v.           .d.  .d      y y
      \.b.   .b.  .r.      .e.e.e.     .v   v.      .i.   .d.   d      .y.
      \.b.   .b   .r.      .e           .v v.       .i.   .d.  .d      .y.
      \.b.b.b.    .r.      .e.e.e.       .v.        .i.   .d.d.        .y.
      \
      come help us create something amazing: jobs@brevidy.com
      
    %title
      = browser_title
    
    - # Site-wide CSS
    %link{:href => "#{cache_buster_path('/stylesheets/gotsoul_landing.css')}", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    - # Site-wide JS
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    %script{:src => "#{cache_buster_path('/javascripts/functions.min.js')}", :type => "text/javascript"}
    %script{:src => "#{cache_buster_path('/javascripts/i_love_lamp-1.0.3.min.js')}", :type => "text/javascript"}

    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    - # Fav Icon and CSRF meta tag
    = favicon_link_tag
    = csrf_meta_tag
  
  %body
    .page_container
      .center_container.rbxl.mhauto.clearfix
        / banner
        .banner_container
          = link_to(image_tag("rgb_logo.png", :size => "184x90"), root_path, :class => "no_border rgb_logo")
    
          = link_to(explore_path, :class => "no_border") do
            .go_explore.ram.right
              %h3 
                Go Explore!
                  
          - unless current_page?(:login) || signed_in?
            = link_to(login_path, :class => "no_border") do
              .login_form.ram.right
                %h3 
                  Already a member?  Login!
            
        .banner_corners
          = image_tag("banner_corners.png", :size => "880x15")
    
        = yield 
        
      .lower_container
        = render 'shared/lower_navigation'

    - # GetSatisfaction Feedback Widget & Google Analytics
    = render :partial => 'shared/extras'